﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.default.css")" rel="stylesheet" type="text/css" />
</head>
<body> 
    <div class="page">
        <header>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    <li>Test podmenu
                        <ul>
                            <li>@Html.ActionLink("Informacje", "About", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Helpers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MainMenu.js")" type="text/javascript"></script>
    @RenderSection("scripts", false)
</body>
</html>

